<!DOCTYPE html>
<html>
    <head>
        <title>AirZGZ</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Libraries -->
        <script src="lib/d3/d3.min.js"></script>
        <script src="lib/jquery/jquery-1.11.3.min.js"></script>
        <script src="lib/d3/parcoords/d3.parcoords.js"></script>
        <link rel="stylesheet" href="lib/d3/parcoords/d3.parcoords.css" />
        
        <!-- Our scripts -->
        <script src="js/parallel-coords.js"></script>
    </head>
    <body>
        <div id="parallel-container" class="parcoords" style="width:100%; height:300px">
        </div>
    </body>
</html>
