<!DOCTYPE html>
<html>
    <head>
        <title>Zaragoza VizData</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" type="image/png" href="images/favicon.png">

        <!-- Libraries -->
        <link rel="stylesheet" href="lib/uikit/css/uikit.almost-flat.min.css" />
        <link rel="stylesheet" href="lib/uikit/css/components/datepicker.almost-flat.min.css" />
        <link rel="stylesheet" href="lib/uikit/css/components/form-select.almost-flat.min.css" />

        <link rel="stylesheet" href="lib/datatables/css/jquery.dataTables.min.css" />

        <link rel="stylesheet" href="lib/d3/parcoords/d3.parcoords.css" />

        <link rel="stylesheet" href="lib/leaflet/leaflet.css" />

        <script src="lib/jquery/jquery-1.11.3.min.js"></script>

        <script src="lib/uikit/js/uikit.min.js"></script>
        <script src="lib/uikit/js/components/datepicker.min.js"></script>
        <script src="lib/uikit/js/components/form-select.min.js"></script>

        <script src="lib/datatables/js/jquery.dataTables.min.js"></script>

        <script src="lib/d3/d3.min.js"></script>
        <script src="lib/d3/parcoords/d3.parcoords.js"></script>

        <script src="lib/leaflet/leaflet.js"></script>

        <!-- Our scripts and styles -->
        <script src="js/parallel-coords.js"></script>
        <script src="js/stations-map.js"></script>
        <link rel="stylesheet" href="css/styles.css" />
    </head>
    <body>
        <nav class="uk-navbar uk-margin-bottom">
            <a class="uk-navbar-brand uk-hidden-small" href="/"><i class="uk-icon uk-icon-database"></i> Zaragoza VizData</a>
            <ul class="uk-navbar-nav uk-hidden-small">
                <li class="calidadAire uk-active">
                    <a href="#"><i class="uk-icon uk-icon-bar-chart"></i> Calidad del aire</a>
                </li>
                <li class="acercaDe">
                    <a href="#"><i class="uk-icon uk-icon-bar-chart"></i> Acerca de</a>
                </li>
            </ul>
            <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
            <div class="uk-navbar-brand uk-navbar-center uk-visible-small"><i class="uk-icon uk-icon-database"></i> Zaragoza VizData</div>
        </nav>
        <div id="offcanvas" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
                <ul class="uk-nav uk-nav-offcanvas">
                    <li class="calidadAire uk-active">
                        <a href="#"><i class="uk-icon uk-icon-bar-chart"></i> Calidad del aire</a>
                    </li>
                    <li class="acercaDe">
                        <a href="#"><i class="uk-icon uk-icon-bar-chart"></i> Acerca de</a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="tabs" class="uk-panel uk-panel-box">
            <div id="calidadAireContainer">
                <div id="filters-container" class="uk-margin uk-container uk-container-center">
                    <form class="uk-form uk-form-horizontal">
                        <div class="uk-form-row">
                            <label for="startDate" class="uk-form-label">Fecha inicio</label>
                            <div class="uk-form-controls">
                                <div class="uk-form-icon">
                                    <i class="uk-icon-calendar"></i>
                                    <input id="startDate" type="text" data-uk-datepicker="{format: 'DD/MM/YYYY'}">
                                </div>
                            </div>
                        </div>

                        <div class="uk-form-row">
                            <label for="endDate" class="uk-form-label">Fecha fin</label>
                            <div class="uk-form-controls">
                                <div class="uk-form-icon">
                                    <i class="uk-icon-calendar"></i>
                                    <input id="endDate" type="text" data-uk-datepicker="{format: 'DD/MM/YYYY'}">
                                </div>
                            </div>
                        </div>

                        <div class="uk-form-row">
                            <span id="allContaminantsCheck" class="uk-form-label">Contaminantes</span>
                            <div class="uk-form-controls uk-form-controls-text">
                                <label><input id="check-o3" type="checkbox" checked> O&#x2083;</label>
                                <label><input id="check-so2" type="checkbox" checked> SO&#x2082;</label>
                                <label><input id="check-no2" type="checkbox" checked> NO&#x2082;</label>
                                <label><input id="check-co" type="checkbox" checked> CO</label>
                                <label><input id="check-pm10" type="checkbox" checked> PM&#x2081;&#x2080;</label>
                                <label><input id="check-sh2" type="checkbox" checked> SH&#x2082;</label>
                            </div>
                        </div>

                        <div class="uk-form-row">
                            <span class="uk-form-label">Opacidad</span>
                            <div class="uk-form-controls">
                                <input type="range" min="0" max="1" value="0.2" step="0.01" name="opacity" id="opacity">
                            </div>
                        </div>

                        <div class="uk-text-center uk-margin-top">
                            <button id="apply" type="button" class="uk-button uk-button-primary">
                                <i class="uk-icon uk-icon-check"></i> Aplicar
                            </button>
                        </div>
                    </form>
                </div>

                <div id="parallel-container" class="parcoords" style="width:100%; height:300px; display: none;">
                    <div class="loadingIndicator"><i class="uk-icon uk-icon-spinner uk-icon-spin"></i></div>
                </div>

                <div id="table-container" class="uk-margin-top" style="display: none;">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    Contaminante
                                </th>
                                <th>
                                    Estación
                                </th>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Valor
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div id="map" class="uk-margin-top">
                </div>

                <div class="help uk-margin-top">
                    <i class="uk-icon uk-icon-question-circle uk-text-primary"></i> Aquí puedes visualizar las mediciones de la calidad del aire en diferentes estaciones de Zaragoza y filtrar de forma interactiva en el gráfico de coordenadas paralelas.
                </div>
            </div>
            <div id="acercaDeContainer" style="display: none;">
                <div>
                    <h1 class="uk-text-bold"><img alt="" src="images/favicon.png"> Zaragoza Viz Data</h3>
                    Zaragoza VizData es un experimento desarrollado por <a href="https://twitter.com/eduramiba">Eduardo Ramos</a> y <a href="https://twitter.com/eckelon">Jesús Ángel Samitier</a> para el ZaragozAppStore los días 10, 11 y 12 de julio de 2015.
                    El propósito de la aplicación es el de mostrar una gran cantidad de datos (provenientes de las APIs abiertas del Ayuntamiento de Zaragoza) en un espacio reducido,
                    como es el caso de la pantalla de un móvil.

                    El código de la aplicación se encuentra disponible en <a href="https://github.com/eckelon/zgzVizDatApp">GitHub</a>, así como <a href="https://github.com/eckelon/zgzVizData">el de la webapp</a> que hace sus veces de backend.

                    La aplicación móvil está disponible para <a href="app/zgzVizData.apk">Android aquí</a>. La idea es subirla a la Play Store en un futuro.
                </div>
            </div>
        </div>

        <div id="footer" class="uk-text-left uk-margin-top">
            <img title="Ayuntamiento de Zaragoza" alt="" src="images/zaragoza.png">
            &nbsp;
            &nbsp;
            <img title="IES-Cities (Internet-Enabled Services for the Cities across Europe)" alt="" src="images/iescities.png" width="500px">
        </div>
        <script type="text/javascript">
            (function(){
                //Initialize contaminants view
                var contaminantsChart = new ContaminantsChart();

                var stationsMap = new StationsMap();

                function showTab(name){
                    $('li.uk-active').removeClass('uk-active');
                    $('li.' + name).addClass('uk-active');

                    $("#tabs").children().hide();
                    $("#" + name + "Container").show();
                }

                $('.calidadAire a').click(function(){
                    showTab('calidadAire');
                    return false;
                });
                $('.acercaDe a').click(function(){
                    showTab('acercaDe');
                    return false;
                });
            })();
        </script>
    </body>
</html>
