body {
    margin: 10px;
}

input[data-uk-datepicker] {
    width: 125px;
}

.uk-form-horizontal .uk-form-label {
    font-weight: bold;
}

.loadingIndicator {
    text-align: center;
    font-size: 60px;
}

.uk-navbar li a:hover {
    cursor: pointer;
}

.parcoords .axis text {
    cursor: move;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.parcoords svg {
    font: 12px sans-serif;
}

#allContaminantsCheck:hover {
    cursor: pointer;
}